/* Fonts */
$primary-font: 'Mulish', sans-serif;
$secondary-font: 'Cardo', serif;
/* Colors */
$primary-color: #3eb37c;
$secondary-color: #F4F7FC;
$white: #FFFFFF;
$black: #212529;
$light: #F6F5FC;
$black-light: #6C757D;
$black-lighter: #888888;
$border-color: #EEEEEE;