/* Fonts */
$primary-font: 'Mulish', sans-serif;
$secondary-font: 'Work Sans', sans-serif;
/* Colors */
$primary-color: #3EB37C;
$secondary-color: #F4F7FC;
$white: #FFFFFF;
$black: #212529;
$text: #6C757D;
$background-section: #F6F5FC;
$title-section: #645F88;
$subtitle-section: #898798;